<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Most common Qustions HR is can ASk </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>what is your name</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>are you working now</td>
       
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Where did you do Minda </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Tell Me About Yourself </td>
       
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Why Do You Want to Work at This Company </td>
       
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Why Do You Want This Job </td>
       
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Why Should We Hire You </td>
       
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>What Are Your Greatest Strengths </td>
       
        </tr> <tr>
          <th scope="row">7</th>
          <td>What Do You Consider to Be Your Weaknesses </td>
       
        </tr> <tr>
          <th scope="row">8</th>
          <td>Why Should We Hire You </td>
       
        </tr> <tr>
          <th scope="row">9</th>
          <td>What Is Your Greatest Professional Achievement </td>
       
        </tr> <tr>
          <th scope="row">10</th>
          <td>what is your favorite programing laguage</td>
       
        </tr>
      </tbody>
    </table>
    <a href="/resume" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Click hear to go to resume chatbot </a>
    </div>
  </body>
</html>